<h1 class="text-center text-white"> Planetas</h1>
<div class="row col-sm-12">
  <div class="col-sm-2 circle text-white" *ngFor="let planeta of planetas">
   <p>Name: {{planeta.name}} </p>
    <p>Tamanho:{{planeta.rotation_period}}</p> 
    <p>Periodo Orbital: {{planeta.orbital_period}}</p>
    <p>:Tamanho:{{planeta.diameter}}</p>
    <p>Clima:{{planeta.climate}}</p> 
    <p>Gravidade:{{planeta.gravity}}</p> 
    <p>Terreno:{{planeta.terrain}}</p> 
    <p>água: {{planeta.surface_water}}</p> 
    <p>Popuação: {{planeta.population}}</p> 
  </div>  
</div>
